@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}


<form enctype="multipart/form-data" method="post">
  <label for="LinkToPerson">Link:</label><br>
  <input type="text" id="LinkToPerson" name="LinkToPerson" value=""><br>
  <label for="Message">Message:</label><br>
  <input type="text" id="Message" name="Message" value=""><br><br>
  <input type="submit" value="Submit">
</form> 